@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-SemiBold.ttf');
}

body{
    display: flex;
}
:root {
   --blue: rgb(0, 149, 246); 
   --text: rgb(38, 38, 38);
   --grey: rgb(250, 250, 250);
   --border-color: rgb(219, 219, 219);
   --red: red;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}
a {
    color: inherit;
    text-decoration: none;
}
.nav_logo_link {
    margin-bottom: 290px;
}
img {
    max-width: 100%;
}
.nav {
    display: block;
    color: var(--text);
    padding: 41px 16px 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 285px;
    border-right: 1px solid var(--border-color);
    position: relative;
    height: 100vh;  
}
.nav__item {
    margin: 10px 0;
    border-radius: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav__item:hover {
    background: var(--grey);
}

.nav__item:hover .nav__icon{
    transform: scale(110%);
    transition: .3s;
}
.nav__link {
    font-family: 'Segoe UI';
    margin-left: 15px;
    font-size: 16px;
}
.nav__bottom-item {
    position: absolute;
    bottom: 14px;
    left: 12px;
    right: 0;
    margin: 10px;
}
.alert-num {
    font-family: 'Roboto';
    font-size: 10px;
    position: absolute;
    color: white;
    width: 20px;
    height: 20px;
    background: var(--red);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: -15px;
    border: 1px solid white;
    z-index: 1;
}
.red__round {
    background: var(--red);
    position: absolute;
    border-radius: 100%;
    width: 11px;
    height: 11px;
    margin-left: 16px;
    margin-top: -16px;
    border: 1.5px solid white;
}
.profile__icon{
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.nav__link-home {
    font-weight: 700;
    margin-top: 29px;
}
section{
    width: 100%;
    background: #fafafa;
}
.posts {
    margin-left: 235px;
    margin-top: 26px;
    width: 470px;
    background: #fff;
    background: #fafafa;
    margin-right: 32px;
}
.posts__stories {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    padding: 16px;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}
.best__friend {
    background: 
    radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0), 
    linear-gradient(180deg, #1cd14f, #1cd14f)!important;
}
.img-story__container {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: 
    radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0), 
    linear-gradient(to top right, #ffcd25, #d71ecb);
}
.img-story__container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(42%);
    border-radius: 100%;
}
.text-container>p {
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 12px;
}
.story {
    cursor: pointer;
    width: 65px;
    margin: auto 10px;
}
.posts__stories:last-child::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 100%;
    right: -32px;
}
.post {
    padding-top: 8px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    margin-bottom: 12px;
}
.post__header__profile {
    display: flex;
    padding-left: 12px;
    padding-bottom: 8px;
    position: relative;
}
.post__header__profile>.post__header__story-container>img {
    display: block;
    object-fit: cover;
    clip-path: circle(42%);
    border-radius: 100%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.post__header__profile>a {
    padding-left: 12px;
    font-family: 'Roboto';
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.post__header__profile>a:hover {
    opacity: .5;
}
.post__header__points {
    position: absolute;
    right: 0;
    right: 10px;
    top: 5px;
}
.post__photo{
    width: 468px;
    height: auto;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}
.post__header__points {
    cursor: pointer;
}
.post__header__points>svg:hover {
    fill: rgb(142, 142, 142);
}
.post__footer {
    margin-top: 12px;
}
.post__footer_svg {
    padding: 4px 12px 6px 0;
    position: relative;
}
.post__footer_svg-svg {
    cursor: pointer;
}
.post__footer_svg-svg:hover {
    color: rgb(142, 142, 142);
    fill: rgb(142, 142, 142);
}
.posts__stories_arrow {
    width: 22px;
    height: 24px;
    display: flex;
    position: absolute;
    background: #fff;
    border-radius: 100px;
    cursor: pointer;
    right: 15px;
    top: 32px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.76);
}
.comment, .send, .like {
    margin-left: 8px;
    margin-right: 8px;
}
.save {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
}
.post__footer__likes {
    font-weight: 600;
    width: 100%;
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
}
.post__footer__likes>a:hover {
    opacity: .5;
}
.post__header__story-container {
    border-radius: 100px;
    background: 
    radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0), 
    linear-gradient(to top right, #ffcd25, #d71ecb);
}
.post__footer__desc {
    margin-bottom: 14px;
    display: flex;
    margin-left: 12px;
}
.post__footer__desc__name {
    margin-right: 6px;
    font-weight: 600;
    font-size: 14px;
}
.post__footer__desc__text {
    font-size: 14px;
}
.post__footer__desc__text>span {
    margin-left: -35px;
    color: rgb(0, 55, 107);
    font-size: 14px;
}
.post__footer_comments {
    opacity: .5;
    font-size: 14px;
    margin-left: 12px;
    margin-bottom: 14px;
}
.post__footer__time {
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-left: 12px;
    padding-bottom: 17px;
}
.post__footer__time_hours {
    letter-spacing: .2px;
    color: rgb(142, 142, 142);
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    margin-right: 7px;
    display: flex;
    align-items: center;
}
.post__footer__time_translation {
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
}
.post__footer__add-comment {
    position: relative;
    margin-left: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
}
.post__footer__add-comment>svg {
    cursor: pointer;
    margin-right: 15px;
}
.post__footer__add-comment>textarea {
    display: flex;
    align-items: center;
    opacity: .5;
    border: none;
    height: 18px;
    resize: none;
    overflow: hidden;
    font-size: 14px;
    background: transparent;
}
.post__footer__add-comment>p {
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 5px;
    color: #bbdfff;
    font-weight: 600;
}
section {
    display: flex;
}
.accounts {
    margin-top: 26px;
    width: 319px;
}
.accounts__me {
    display: flex;
    margin-top: 16px;
    position: relative;
    margin-bottom: 14px;
}
.accounts__me__img-container>img {
    border-radius: 100px;
    height: 56px;
    width: 56px;
    cursor: pointer;
}
.accounts__me__img-container {
    margin-right: 23px;
}
.accounts__me__text-container_name {
    font-weight: 600;
    font-size: 14px;
}
.accounts__me__text-container_desc {
    font-size: 14px;
    color: #a2a2a2;
}
.accounts__me__text-container_cont {
    display: flex;
    align-items: center;
}
.accounts__me__switch {
    position: absolute;
    right: 0;
    margin-top: 25px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(0, 149, 246);
}
.accounts__me__switch:hover {
    color: rgb(0, 55, 107);
}
.accounts__sugg__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    margin-bottom: 12px;
}
.accounts__sugg__title>h1 {
    font-family: 'Segoe UI';
    font-weight: 600;
    color: rgb(143, 143, 143);
    font-size: 14px;
}
.accounts__sugg__title>h2 {
    font-size: 12px;
    position: absolute;
    right: 0;
}
.accounts__sugg__title>h2:hover {
    opacity: 0.5;
    cursor: pointer;
}
.accounts__sugg__account {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 0;
}
.accounts__sugg__accounts_img-container>img {
    border-radius: 100px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.accounts__sugg__accounts_text-container {
    margin-left: 12px;
}
.accounts__sugg__accounts_text-container>h1 {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.accounts__sugg__accounts_text-container>p {
    font-size: 12px;
    opacity: .5;
}
.accounts__sugg__accounts_follow {
    color: rgb(0, 149, 246);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;
}
.accounts__sugg__accounts_follow:hover {
    color: rgb(0, 55, 107);
    cursor: pointer;
}
.accounts__footer__links {
    width: 370px;
}
.accounts__footer {
    margin-top: 12px;
}
.accounts__footer__link {
    color: rgb(199, 199, 199);
    font-size: 12px;
}
.accounts__footer__link::after {
    content: '\00B7';
    margin: 0 0.25em 0 0.25em;
}
.accounts__footer__link:hover {
    text-decoration: underline;
}
.accounts__footer__language {
    color: rgb(199, 199, 199);
    font-size: 12px;
}
.accounts__footer__copyright {
    color: rgb(199, 199, 199);
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 16px;
}